<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MobileView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MobileView.Properties.Settings>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.7103.88 Mobile Safari/537.36</value>
            </setting>
            <setting name="ValidUrlSuffix" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string> .com</string>
                        <string>.org</string>
                        <string>.net</string>
                        <string>.edu</string>
                        <string>.gov</string>
                        <string>.io</string>
                        <string>.co</string>
                        <string>.us</string>
                        <string>.uk</string>
                        <string>.ph</string>
                        <string>.html</string>
                        <string>.ag</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MobileView.Properties.Settings>
    </userSettings>
</configuration>